.FoodSection{
    border-top: solid 1px var(--gray_ee);
    .FoodList{
        display: flex;
        flex-direction: column;
        background-color: var(--white_ff);
        min-height: calc(100vh - 310px);
    
        .FoodItem{
            padding: 20px;
            color: var(--dark_00);
            border-bottom: solid 1px var(--gray_ee);
            border-radius: 5px;
            a{
                display: flex;
                gap: 20px;
                .FoodImgDiv{

                    img{
                        width: 80px;
                        border-radius: 5px;
                    }
                }
    
                .FoodInfo{
                    flex: 1;
                    width: 70%;
    
                    dt{
                        font-size: var(--font-size-16);
                        font-weight: var(--font-weight-bold);
                        color: var(--dark_00);
                    }
                    .FoodMaterial{
                        display: block;
                        font-size: var(--font-size-12);
                        color: var(--gray_sub);
                        margin: 5px 0 15px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .FoodInfoList{
                        ul{
                            display: flex;
                            gap: 6px;
    
                            li{
                                border-radius: 5px;
                                padding: 4px 8px;
                                font-size: var(--font-size-12);
                                color: var(--gray_sub);
                                background-color: var(--gray_f6);
                            }
                        }
                    }
                }
    
            }
        }
        .NoFoodItem{
            padding: 20px;
            font-size: var(--font-size-24);
            font-weight: var(--font-weight-bold);
            color: var(--purple);
            text-align: center;
            border: solid 2px var(--purple);
            border-radius: 5px;
        }
    }
}