:root{
    //color
    --purple: #8053B8;
    --red: #FF4747;

    //dark
    --dark_00: #000;
    --dark_21: #212121;
    --dark_33: #333;
    --dark_44: #444;
    
    //white
    --white_ff: #fff;
    
    //gray
    --gray_main: #9aa0b4;
    --gray_sub: #8a8e9b;
    --gray_99: #999;
    --gray_66: #666;
    --gray_de: #dedede;
    --gray_ee: #eee;
    --gray_f6: #f6f6f6;
}