.FoodSection{
    padding-top: 285px;
    .FoodList{
        display: flex;
        flex-direction: column;
        gap: 30px;
    
        .FoodItem{
            color: var(--dark_00);
            background-color: var(--whte_ff);
            border-radius: 5px;
            box-shadow: 15px 15px 30px 0 rgba(211,209,216,.25);

            .FoodImgDiv{

                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }

            .FoodInfo{
                padding: 10px 25px 15px;

                dt{
                    font-size: var(--font-size-24);
                    font-weight: var(--font-weight-bold);
                    color: var(--dark_00);
                    margin-bottom: 15px;
                }
                dd{
                    ul{
                        display: flex;
                        gap: 6px;

                        li{
                            border-radius: 5px;
                            padding: 6px 8px;
                            font-size: var(--font-size-16);
                            color: var(--gray_sub);
                            background-color: var(--gray_f6);
                        }
                    }
                }
            }
        }
        .NoFoodItem{
            padding: 20px;
            font-size: var(--font-size-24);
            font-weight: var(--font-weight-bold);
            color: var(--purple);
            text-align: center;
            border: solid 2px var(--purple);
            border-radius: 5px;
        }
    }
}